{% block profile_data %}
    <div class="col-md-9">
        <div class="row">
            {#<ul>#}
                <div class="shopping-cart" id="cartline">
                    <!-- Title -->
                    <div class="title">
                        Shopping Bag
                    </div>
                    {% for cartline in cartlines %}
                        {% for product in cartline.product %}
                    <!-- Товар  -->
                    <div class="item js-product">
                        <div class="buttons">
                            <a href="#" class="delete-btn js-remove-cartline" data-id="{{ cartline.id }}"
                               data-url="{{ path('app_cartline_remove', {
                                   cart_id: cartid,
                                   cartline_id: cartline.id
                               }) }}"></a>
                            <span class="like-btn"></span>
                        </div>

                        <div class="image">
                            <img src="{{ asset(product.imageFilename|image_path) }}" alt="" />
                        </div>

                        <div class="description">
                            <span>{{ product.name }}</span>
                            <span>{{ product.category.name }}</span>
                            <span>{{ product.slug }}</span>
                        </div>

                        <div class="quantity">
                            <input type="text" value="Quantity:" class="bminus" disabled>
                            {#<p class="bminus">Quantity:</p>#}
                            <input type="text" class="counter data-id" name="count" value="" size="2">
                            {#<input type="button" value="+" class="bplus">#}
                        </div>

                        <div class="total-price">${{ (product.unitPrice)*(cartline.quantity) }}</div>
                    </div>
                        {% endfor %}
                    {% endfor %}


                </div>
            {#</ul>#}
        </div>
    </div>
{% endblock profile_data %}
