
{% block profile_data %}
<div class="col-md-9">
    <div class="row">
        <div class="user_show">

            {{  form_start(profileForm, {'method': 'post', 'attr': {'class': 'form-signin blank'}}) }}

            <div class="text-center mb-3">
                <img src="{{ asset('images/frankenstein.png') }}" class="grays user-image">
            </div>

            <div class="form-group">
                {{ form_widget(profileForm.firstName, { 'attr': {'class': 'form-control', 'placeholder':'First name'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(profileForm.email, { 'attr': {'class': 'form-control', 'placeholder':'E-mail'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(profileForm.phoneNumber, { 'attr': {'class': 'form-control', 'placeholder':'Phone Number'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(profileForm.address, { 'attr': {'class': 'form-control', 'placeholder':'Delivery Address'} }) }}
            </div>

            <div class="mt-4 text-center">
                <input type="submit" value="Update"/>
            </div>

            {{ form_rest(profileForm) }}
            {{ form_end(profileForm) }}


        </div>
    </div>
</div>
{% endblock profile_data %}

