<!-- BEGIN REGISTRATION FORM -->
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin blank'}}) }}
{#novalidate= "novalidate"#}
<div class="text-center mb-3">
    <img src="{{ asset('images/frankenstein.png') }}" class="grays">
</div>

<div class="form-group inp-line">
    {{ form_widget(form.first_name, { 'attr': {'class': 'form-control placeholder-no-fix marg', 'placeholder':'First name'} }) }}
    {#{% for errorItem in form.first_name.vars.errors %}#}
        {#<span class="help-inline">{{ errorItem.message }}</span>#}
    {#{% endfor %}#}

    {{ form_widget(form.last_name, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Last Name'} }) }}
    {#{% for errorItem in form.last_name.vars.errors %}#}
        {#<span class="help-inline">{{ errorItem.message }}</span>#}
    {#{% endfor %}#}
</div>

<div class="form-group">
    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'E-mail'} }) }}
    {% for errorItem in form.email.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
    {% endfor %}
</div>
<div class="form-group">
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
    {% for errorItem in form.plainPassword.first.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
    {% endfor %}
</div>
<div class="form-group">
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
    {% for errorItem in form.plainPassword.second.vars.errors %}
        <span class="help-inline">{{ errorItem.message }}</span>
    {% endfor %}
</div>
<div class="form-group">
    {{ form_widget(form.agreeTerms) }}
    {#{% for errorItem in form.agreeTerms.vars.errors %}#}
        {#<span class="help-inline">{{ errorItem.message }}</span>#}
    {#{% endfor %}#}
</div>
<div class="form-actions tools">
    <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Back to login</a>
    <button type="submit" id="register-submit-btn" class="btn btn-success">Submit</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
<!-- END REGISTRATION FORM -->