<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Frankenstein Shop{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand logoAn" href="{{ path('app_homepage') }}">Frankenstein
                <img src="{{ asset('images/franki5.png') }}" alt="">
                Shop</a>
            {#<img class="logoAn" src="{{ asset('images/franki5.png') }}" alt="">#}

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 top-pos" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-info my-2 my-sm-0 top-pos" type="submit">Search</button>
                </form>

                <ul class="navbar-nav ml-auto" >
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_account_show') }}">Profile</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="login"><a class="nav-button" href="{{ path('app_login') }}">Login</a></li>
                        <li class="login"><a class="nav-button" href="{{ path('app_register') }}">Sign up</a></li>
                    {% endif %}
                </ul>

                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#{{ app.user.username }} |#}
                {#<li><a class="nav-button" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>#}
                {#{% else %}#}
                {#<li><a class="nav-button" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>#}
                {#{% endif %}#}

            </div>
        </div>
    </nav>
    {% for message in app.flashes('updated') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

<footer class="footer bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; Copyright 2019. Ethan_Al developed All rights reserved.</p>
    </div>
    <!-- /.container -->
</footer>


{% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('js/article_shop.js') }}"></script>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js') }}"></script>
{% endblock %}

</body>
</html>